version: '3.8'

services:
  streamer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamer
    ports:
      - "3000:3000"
    # For production setup HTTPS is disabled, use something like nginx+letsencrypt for this purpose
    environment:
      - SSL=
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
