global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'streamer'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ['streamer:3000']
